# IDEs
.idea/
.vscode/

# Composer
vendor/

# PHPUnit & Tests
.phpunit.result.cache
coverage-html/
testdox.txt

# Fichiers de test SQLite
test.db
*.db-journal

# Fichiers temporaires générés par nos tests
*.tmp
